/*
Esto no es buena idea usarlo
*/
/* 
* {
    margin: 0;
    padding: 0;
}
*/
body {
    background-color: #333;
    color: #fff;
    /* Aqui si es recomendable */
    margin: 0;
}
.block {
    background-color: purple;
    width: 200px;
    height: 300px;
    /* Manera incorrecta de centrar un bloque  */
    /*margin: 0 auto;*/

    /* Manera correcta de centrar un bloque */
    margin-left: auto;
    margin-right: auto;
}
.inline {
    background-color: lightcoral;
    color: inherit;
    width: 200px;
    height: 300px;
}